
---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'
const pageTitle = "About Me"
const identity = {
  nickName: "Yabuk",
  country: "Poland",
  city: "Kraków",
  occupation: "IT Project Manager",
  hobbies: ["game development", "dancing", "home labs"]
}
const skills = ["Godot", "Project Management", "Product Management", "Psychology", "UI/UX", "Linux", "Docker", "Containerization", "CI/CD"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";

---

<style define:vars={{skillColor, fontWeight, textCase}}>
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
</style>
<BaseLayout pageTitle={pageTitle}>
    <h2>...and this site!</h2>
    <p>I live in {identity.city}, {identity.country}, and I work as an {identity.occupation}.</p>
    <p>When I'm not working on commercial projects, I build a game development studio, stream on Twitch, or rock the dancefloor.</p>
    <p>With my alleged ADHD brain, I have acquired a bunch of random skills, with a non-exhaustive list here:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days to finish.</p>}
    <p>In the meantime, check out my <a href="https://twitch.tv/yabuk">Twitch channel</a>.</p> 
</BaseLayout>
